---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
---

<BaseLayout title="David Castellanos">
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<Header />
		<div class="snap-center">
			<HeroSection />
		</div>
	</main>
</BaseLayout>