---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
---

<BaseLayout title="David Castellanos">
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<Header />
		<section class="snap-center">
			
		</section>
	</main>
</BaseLayout>