---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
---

<BaseLayout title="David Castellanos">
	<main class="lg:snap-y lg:snap-mandatory relative w-full h-screen overflow-auto">
		<Header />
		<div class="lg:snap-center">
			<HeroSection />
		</div>
		<div class="lg:snap-center">
			<ProjectsSection />
		</div>
	</main>
</BaseLayout>