---
import ProjectCard from "./ProjectCard.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 p-20">
  <div class="grid gap-4">
    <ProjectCard image="calculator" title="Simple Calculator" link="https://simple-da-calculator.netlify.app/" stack="HTML / CSS / JavaScript" />
  </div>
  <div class="grid gap-4">
    <ProjectCard image="productive-day" title="Productive Day" link="https://productive-day.netlify.app/home" stack="HTML / CSS / JavaScript / ReactJS / React router / ChakraUI" />
  </div>
  <div class="grid gap-4">
    <ProjectCard image="dabooks" title="daBooks" link="https://da-books.netlify.app/" stack="HTML / CSS / JavaScript / ReactJS / ChakraUI" />
  </div>
  <div class="grid gap-4">
    <ProjectCard image="tesla-landing" title="Tesla Landing Page" link="https://tesla-landing-dcdv.netlify.app/" stack="HTML / Tailwind CSS / JavaScript / Astro" />
  </div>
</div>
