---
const { title } = Astro.props
const { align } = Astro.props
---
<h2 class=`${align} mt-2 text-xl md:text-2xl xl:text-4xl font-bold bg-clip-text bg-200% text-transparent bg-gradient-to-r from-sky-400 from-0% via-fuchsia-500 via-50% to-sky-400 to-100% animate-gradient`>{title}</h2>
