---
import Navigation from "./Navigation.astro";
---
<header class="py-[10px] px-12 flex justify-center items-center fixed top-0 w-full bg-transparent backdrop-blur-lg">
  <nav class="w-1/2">
    <Navigation />
  </nav>
</header>