---
import Section from "../layouts/SectionLayout.astro"
import GradientText from "./GradientText.astro";
import GitHub from "./GitHub.astro";
import LinkedIn from "./LinkedIn.astro";
---
<Section>
  <div class="xl:flex xl:items-center xl:justify-center xl:gap-6">
    <div class="flex items-center justify-center p-8 md:shrink-0 xl:order-last">
      <img 
      src="https://unavatar.io/davidcdev" 
      alt="David Castellanos profile picture" 
      class="h-40 w-40 dark:border-slate-100 dark:border-4 md:h-60 md:w-60 rounded-tl-large md:rounded-tl-extraLarge rounded-br-large md:rounded-br-extraLarge object-fit-cover"
      />
    </div>
    <div class="p-8 space-y-20">
      <div>
        <h1 class="text-2xl md:text-4xl xl:text-6xl font-bold text-slate-800 dark:text-slate-200">
          David Castellanos
        </h1>
        <GradientText title="FullStack Web Developer" align="text-left" />
      </div>
      <footer class="gap-x-6 flex justify-center xl:justify-start items-center">
        <a href="https://github.com/davidcdev" target="_blank"><GitHub /></a>
        <a href="https://www.linkedin.com/in/davidcastellanos-dev" target="_blank"><LinkedIn /></a>
      </footer>
    </div>
  </div>
</Section>