---
---
<ul class="flex justify-between text-sm [&>li>a]:inline-block [&>li>a]:mx-4 [&>li>a]:py-1 [&>li>a]:text-slate-800 [&>li>a]:dark:text-slate-100">
  <li><a class="link-underline link-underline-black" href="/">Home</a></li>
  <li><a class="link-underline link-underline-black" href="/about">About</a></li>
  <li><a class="link-underline link-underline-black" href="/projects">Projects</a></li>
  <li><a class="link-underline link-underline-black" href="/contact">Contact</a></li>
</ul>