---
import SectionLayout from "../layouts/SectionLayout.astro";
import Gallery from "./Gallery.astro";
import GradientText from "./GradientText.astro";
---
<SectionLayout>
  <div class="xl:flex xl:flex-col xl:items-center xl:justify-center xl:gap-8">
    <GradientText title="Projects" />
    <Gallery />
  </div>
</SectionLayout>